html {
  height: 100%;
}
.container-fluid {
  padding: 0;
}
.row {
  justify-content: center;
  margin: 0;
}
body {
  position: relative;
  min-height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
.main-title {
  font-family: "Lobster", cursive;
  font-size: 60px;
  color: #4a69e8;
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.second-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
}
.module {
  margin-top: 5px;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.btn .oi {
  font-size: 14px;
  margin-left: 5px;
}
.btn-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.btn-scroll-top .oi {
  margin: 0;
}
.btn-fav {
  color: #e8b900;
  font-size: 28px;
  position: absolute;
  right: 0;
  top: 0;
}
.btn-fav:hover {
  color: #e8b900;
}
.btn-fav:focus {
  box-shadow: none;
}
.menu {
  width: 100%;
  background: #e1e1e1;
  height: 60px;
}
.menu .container {
  height: 100%;
}
.menu .container .row {
  height: 100%;
}
.menu-logo {
  height: 50px;
}
.menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
}
.menu .oi {
  font-size: 12px;
  vertical-align: center;
  top: 0;
  margin-right: 8px;
}
.menu-elem {
  font-size: 22px;
}
.menu-elem.back {
  margin-left: 30px;
}
.menu-elem-link {
  color: black;
  transition: all ease-in-out 0.3s;
}
.menu-elem-link:hover,
.menu-elem-link:focus {
  text-decoration: none;
  color: #4a69e8;
  text-shadow: 1px 1px #56636b;
}
.footer {
  background: #e1e1e1;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-section {
  width: 100%;
}
.footer-elem.social {
  margin: auto 20px;
}
.footer-elem.social img {
  margin-right: 10px;
}
.footer-elem a {
  color: black;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}
.footer-elem a:hover,
.footer-elem a:focus {
  text-decoration: none;
  color: #3c56bc;
}
.footer-elem img {
  width: 40px;
}
@media screen and (max-width: 576px) {
  .footer-elem.social {
    margin: auto 10px;
  }
}
.form {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  background-color: #e1e1e1;
  padding: 20px 10px;
  margin-bottom: 50px;
}
.form-loading {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.form-loading-more {
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 10;
  bottom: 100px;
}
.form .error {
  background-color: #6483fc;
  text-align: center;
  padding: 10px;
  color: white;
  margin-bottom: 15px;
}
.form .error .oi {
  padding-right: 10px;
}
.form .error.under {
  margin-bottom: 0;
  margin-top: 15px;
}
.form .success {
  background-color: #4a69e8;
  text-align: center;
  padding: 10px;
  color: black;
  margin-bottom: 15px;
}
.form .success .oi {
  padding-left: 5px;
}
.favorite-list {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  background-color: #4a69e8;
  width: 250px;
  padding: 20px;
  z-index: 10;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}
.favorite-list-title {
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  margin-top: 10px;
}
.favorite-list-thumb {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px;
  font-size: 16px;
}
.favorite-list-thumbs {
  overflow: auto;
  max-height: 70vh;
}
.favorite-list-thumb:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.favorite-list-thumb-link {
  color: white;
  transition: all ease-in-out 0.3s;
}
.favorite-list-thumb-link:hover {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
}
.favorite-list-thumb .btn {
  vertical-align: top;
  padding: 3px;
  line-height: 1;
  margin-left: 10px;
}
.favorite-list-thumb .btn .oi {
  margin-left: 0;
  font-size: 14px;
}
.favorite-list .btn-close {
  color: #e1e1e1;
  position: absolute;
  top: 0;
  right: 0;
}
.favorite-list .btn-close:hover {
  color: darkgrey;
}
.favorite-list-empty {
  margin-top: 10px;
}
.favorite-list.closed {
  padding: 0;
  background-color: transparent;
  height: 70px;
}
.favorite-list.closed .btn {
  background: #4a69e8;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 8px;
  color: #e1e1e1;
}
.favorite-list.closed .btn .oi {
  margin-left: 0;
  color: gold;
  font-size: 20px;
}
.favorite-list.closed .btn:hover {
  color: yellow;
  background-color: #3c56bc;
}
.home {
  padding-bottom: 130px;
}
.artist-list {
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
}
.artist-list-thumb {
  margin-bottom: 50px;
}
.artist-list-thumb-title {
  text-align: center;
  margin-bottom: 0;
  padding: 20px 15px;
  background-color: #e1e1e1;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
}
.artist-list-thumb-title:hover,
.artist-list-thumb-title:focus {
  color: #4a69e8;
}
.artist-list-thumb-title-link {
  overflow: hidden;
  padding: 0;
}
.artist-list-thumb-title-link:hover {
  text-decoration: none;
}
.artist-list-thumb-body {
  padding-bottom: 20px;
  text-align: center;
  border-left: 3px solid #e1e1e1;
  border-right: 3px solid #e1e1e1;
  border-bottom: 3px solid #e1e1e1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.artist-list-thumb-personal {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.artist-list-result {
  margin-bottom: 30px;
  font-size: 22px;
  padding-bottom: 5px;
  color: black;
  border-bottom: 1px solid #56636b;
  justify-content: left;
}
.artist-list-search {
  background-color: #e1e1e1;
  padding: 20px 10px;
  justify-content: space-between;
}
.artist-list-search-sort-title {
  text-align: right;
  font-size: 18px;
  padding: 5px 15px;
  margin: 0;
}
@media screen and (max-width: 576px) {
  .plant-list .main-title {
    padding-top: 80px;
  }
  .plant-list-result {
    font-size: 18px;
  }
  .plant-list-thumb-title {
    font-size: 22px;
  }
}
.artist-detail {
  padding-bottom: 150px;
}
.artist-detail .form {
  background-color: transparent;
}
.artist-detail-img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  margin-top: 50px;
}
.artist-detail-description {
  margin-top: 30px;
}
.artist-detail-rating {
  margin-top: 80px;
}
.artist-detail-rating-text {
  background-color: #378e05;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}
.artist-detail .btn-fav {
  position: relative;
  margin-top: 40px;
  font-size: 48px;
}
.artist-detail-personal {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.artist-detail-releases {
  margin-top: 60px;
}
.artist-detail-releases-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}
.artist-detail-releases-thumb-title {
  background-color: #e1e1e1;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}
@media screen and (max-width: 576px) {
  .artist-detail-personal-span {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */