.artist-detail {
  padding-bottom: 150px;
  .form {
    background-color: transparent;
  }
    &-img {
      width: 100%;
      object-fit: cover;
      object-position: top;
      margin-top: 50px;
    }
  &-description {
    margin-top: 30px;
  }
  &-rating {
    &-text {
      background-color: #378e05;
      padding: 10px 20px;
      border-radius: 10px;
      color: @color-secondary-lighten;
    }
    margin-top: 80px;
  }
  .btn-fav {
    position: relative;
    margin-top: 40px;
    font-size: 48px;
  }
  &-personal {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
  }

  &-releases {
    margin-top: 60px;
    &-title {
      text-align: center;
      font-size: 28px;
      margin-bottom: 30px;
    }
    &-thumb {
      &-title {
        background-color: @color-secondary-light;
        text-align: center;
        padding: 10px;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .artist-detail {
    &-personal {
      &-span {
        width: 100%;
      }
    }
  }
}
